apiVersion: v1
kind: ConfigMap
metadata:
  name: kubeskoop-config
  namespace: {{ .Release.Namespace }}
data:
  config.yaml: |-
    debugmode: {{ .Values.agent.debug }}
    port: {{ .Values.agent.port }}
    metrics:
      probes:
      {{- toYaml .Values.config.metricProbes | nindent 6 }}
    event:
      probes:
      {{- toYaml .Values.config.eventProbes | nindent 6 }}
      sinks:
      {{- toYaml .Values.config.eventSinks | nindent 6 }}
