.eventItem {
  background-color: rgb(235, 245, 255);
  font-size: 15px;
  display: flex;
  /* align-items: center; */
  min-height: 4em;
  margin-bottom: 10px;
  padding: 5px 0;
}

.eventInfo {
  margin-right: 20px;
  height: 4em;
}

.eventMessage {
  display: inline-block;
  white-space: pre-wrap;
  /* height: 1em; */
  overflow: hidden;
}

.expandBtn {
  display: inline-block;
}

.eventType {
  color: orangered;
}

.tag {
  margin-right: 10px;
}

.bar {
  height: 100%;
  width: 3px;
  margin-right: 10px;
  background-color: #0070cc;
}


